{% extends "layout.html" %}

{% block body %}
 <style>
    .new_old_posts{
        display: flex;
        justify-content: space-between;
    }
   
</style>


<header class="masthead" style='background-image: url("{{url_for("static",filename="assets/img/home.jpg")}}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['site_heading']}}</h1>
                    <span class="subheading">{{params['sub_heading']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Main Content -->
 <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7"> 
    
{% for post in posts %}    
 <div class="post-preview">
  <a href="/post/{{post.slug}}">
    <h2 class="post-title">{{ post.title}}</h2>
    <h3 class="post-subtitle">
      {{post.tagline}}
    </h3>
  </a>
  <p class="post-meta">Posted by
    <a href="#">Admin</a>
    on {{post.date}}</p>
</div>

{{post.content[0:143]}}......

<hr>
</li></a>
            {% endfor %}
           
            <div class="new_old_posts" >
            <a class="btn btn-primary text-uppercase float right" href="{{prev}}">&#8592; Previous
                    </a>
                  
            <a class="btn btn-primary text-uppercase float left" href="{{next}}">Older
                    →</a></div>
                  


        </div>
    </div>
</div>

{% endblock %} 


